@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor-oce {
  position: relative;
  text-align: left;
}

.contentEditable {
  width: 80vw;
  min-height: 40em;
  padding: 0 8px;
  outline: none;
}

.placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 0px;
  padding-left: 8px;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

span.verses,
span.chapter {
  position: relative;
  visibility: visible;
  display: inline-flex;
  color: rgb(242 242 242);
}

span.chapter {
  font-size: 1.7rem;
  vertical-align: text-top;
  font-weight: 700;
  margin-inline-end: 0.1em;
}

span.verses {
  color: #fff;
  font-size: 0.8em;
  vertical-align: sup;
  font-weight: 600;
  margin-inline-end: 0.1em;
}

/* Styles for inspecting nodes */
[data-type] {
  position: relative;
  color: #f4ff93;
  box-sizing: border-box;
  border: 1px dashed transparent;
}

[data-type]:hover {
  border-color: rgb(80, 80, 80);
}

[data-type]:hover:after {
  font-size: 0.8rem;
  content: attr(data-type) "/" attr(data-subtype);
  position: absolute;
  width: max-content;
  background-color: #000000;
  top: -1.4rem;
  right: 0;
  border: 1px solid #777;
  opacity: 1;
}

[data-type="graft"] {
  padding: 0.1em;
  margin: 0.25em 0em;
}

[data-type="graft"][data-subtype="title"] {
  width: 100%;
  text-align: center;
}

[data-type="graft"][data-subtype="heading"] {
  width: 100%;
  text-align: center;
}

[data-type="paragraph"] {
  color: #faffca;
  /* text-decoration: underline 2px wavy #f4ff93; */
}

[data-subtype="mt2"] {
  font-style: italic;
  font-size: 0.6em;
  font-weight: 400;
}

[data-subtype="mt"],
[data-subtype="mt1"] {
  font-weight: 700;
}

h1 span[data-type="paragraph"] {
  display: block;
}

p[data-type="paragraph"] {
  color: rgba(255, 255, 255, 0.87);
  text-align: justify;
}

[data-subtype="introduction"] [data-subtype="title"] {
  font-size: 1.5rem;
}

[data-subtype="imt3"] {
  font-size: 0.8em;
}

[data-type]:hover [data-type="graft"],
.contentEditable:hover > [data-type="graft"] {
  border: 1px dashed #747bff;
  background-color: #0000001a;
}
